.header {
  font-size: 1.5em;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.search-bar {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
}

.employee-list {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  padding: 10px;
}

.employee-list-item {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 5px 0;
}

.employee-avatar {
  width: 50px;
  height: 50px;
  background-color: #ddd;
  border-radius: 50%;
  margin-right: 10px;
}

.employee-page {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center all content horizontally */
  padding: 20px;
}

.employee-details {
  display: flex;
  align-items: center; /* Centers the items vertically */
  gap: 15px; /* Adds space between the avatar and the info */
  margin-bottom: 20px;
  padding: 20px;
}

.employee-avatar-large {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #f0f0f0; /* Placeholder background */
  border: 2px solid #ccc;
}

.employee-info {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers the text vertically */
}

.employee-info h4 {
  margin: 0;
  font-size: 1.5em;
}

.employee-info p {
  margin: 5px 0 0 0;
  color: #555;
}
